global:
    iterations: 1
workloads:
    -   id: {{workload_id}}
        name: powerpoint
        params:
            slide_template: {{slide_template}}
            title_name: {{title_name}}
            use_test_file: {{use_test_file}}
            transition_effect: {{transition_effect}}
            number_of_slides: {{number_of_slides}}
            dumpsys_enabled: {{dumpsys_enabled}}
